@using Newtonsoft.Json;

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">
                Country Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var country in ViewBag.Countries)
        {
            <tr>
                <td>
                    @country
                </td>
            </tr>
        }
    </tbody>
</table>